<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ExecutableCAExample" Language="1033" Version="1.0.0.0" Manufacturer="WixExamples" UpgradeCode="92a421fe-318c-47bd-b5cf-9547874e251e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="ExecutableCAExample" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <Binary Id="MyProgramEXE" SourceFile="MyProgram.exe" />
    <CustomAction Id="MyProgramEXE_CA" BinaryKey="MyProgramEXE" Execute="immediate" ExeCommand="123" Return="check" />

    <InstallUISequence>
      <Custom Action="MyProgramEXE_CA" After="LaunchConditions" />
    </InstallUISequence>
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ExecutableCAExample" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

		</ComponentGroup>
	</Fragment>
</Wix>