<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="CopyFilesExample" Language="1033" Version="1.0.0.0" Manufacturer="WixExamples" UpgradeCode="e35f6008-0025-417f-a9d6-6106da63fbb7">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="CopyFilesExample" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="CopyFilesExample">
          <Directory Id="OriginalFilesFolder" Name="OriginalFiles" />
          <Directory Id="CopiedFilesFolder" Name="CopiedFiles" />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="OriginalFilesFolder">
      <Component Id="CMP_InstallMeTXT"
             Guid="E8A58B7B-F031-4548-9BDD-7A6796C8460D">
        <File Id="FILE_InstallMeTXT"
              Source="InstallMe.txt"
              KeyPath="yes">
          <CopyFile Id="Copy_InstallMeTXT"
                    DestinationDirectory="CopiedFilesFolder"
                    DestinationName="InstallMeCOPY.txt" />
        </File>
      </Component>

    </ComponentGroup>
	</Fragment>
</Wix>