<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ProgressBarExample" Language="1033" Version="1.0.0.0" Manufacturer="WixExamples" UpgradeCode="29b35ca4-f71b-4896-9e21-84e38ba03deb">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="ProgressBarExample" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <UIRef Id="Custom_UI" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ProgressBarExample" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="CMP_InstallMeTXT" Guid="{C7A8660C-F676-4342-A40E-2EC4B2D872E8}">
        <File Id="FILE_InstallMeTXT" Source="InstallMe.txt" KeyPath="yes" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>