<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="3E786878-358D-43AD-82D1-1435ADF9F6EA"
           Name="Awesome Software"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="Awesome Company"
           UpgradeCode="B414C827-8D81-4B4A-B3B6-338C06DE3A11">

    <Package InstallerVersion="301"
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="Awesome Company"
             Description="Installs Awesome Software"
             Keywords="Practice,Installer,MSI"
             Comments="(c) 2012 Awesome Company" />

    <MediaTemplate EmbedCab="yes" />

    <!--Directory structure-->
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MyProgramDir"
                   Name="Awesome Software" />
        <Directory Id="ProgramMenuFolder">
          <Directory Id="MyShortcutsDir"
                     Name="Awesome Software" />
        </Directory>
      </Directory>
    </Directory>

    <!--Components-->
    <DirectoryRef Id="MyProgramDir">
      <Component Id="CMP_InstallMeTXT"
                 Guid="E8A58B7B-F031-4548-9BDD-7A6796C8460D">
        <File Id="FILE_InstallMeTXT"
              Source="InstallMe.txt"
              KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!--Start Menu Shortcuts-->
    <DirectoryRef Id="MyShortcutsDir">
      <Component Id="CMP_DocumentationShortcut"
                 Guid="33741C82-30BF-41AF-8246-44A5DCFCF953">

        <Shortcut Id="DocumentationStartMenuShortcut"
                  Name="Awesome Software Documentation"
                  Description="Read Awesome Software Documentation"
                  Target="[MyProgramDir]InstallMe.txt" />

        <Shortcut Id="UninstallShortcut"
                  Name="Uninstall InstallPractice"
                  Description="Uninstalls Awesome Software"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]" />

        <RemoveFolder Id="RemoveMyShortcutsDir"
                      On="uninstall" />

        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\AwesomeSoftware"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!--Features-->
    <Feature Id="ProductFeature"
             Title="Main Product"
             Level="1">
      <ComponentRef Id="CMP_InstallMeTXT" />
      <ComponentRef Id="CMP_DocumentationShortcut" />
    </Feature>
  </Product>
</Wix>
