<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MyInstaller" Language="1033" Version="1.0.0.0" Manufacturer="WiX Tests" UpgradeCode="81f5ba7e-6d51-4b52-95eb-960c085969a0">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="MyInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="MyInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="CMP_InstallMeTXT" Guid="{951DD866-86F3-41E7-A445-77284D5DD269}">
        <File Id="FILE_InstallMeTXT" Source="InstallMe.txt" KeyPath="yes" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>