<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="RegistrySearchExample" Language="1033" Version="1.0.0.0" Manufacturer="WixExamples" UpgradeCode="ccf77926-1615-4b13-a31a-e8e21be5c9d8">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="RegistrySearchExample" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <!--Search for DirectX version from Registry-->
    <Property Id="DIRECTX_VERSION">
      <RegistrySearch
           Id="DirectX_Version"
           Root="HKLM"
           Key="SOFTWARE\Microsoft\DirectX"
           Name="Version"
           Type="raw" />
    </Property>

    <!--This will always evaluate to false and show the message-->
    <Condition Message="DirectX version is: [DIRECTX_VERSION]">
      1 = 2
    </Condition>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="RegistrySearchExample" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>