<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="{C429DA85-10B2-4BC0-B39F-0FFD33654828}" Name="UpgradeInstaller" Language="1033" Version="2.0.0.0" Manufacturer="WixExamples" UpgradeCode="2beea442-c0af-412f-95b6-c6e0fad5940d">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallExecute" />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="UpgradeInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Awesome Software" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="CMP_InstallMeTXT" Guid="{78363DC3-95AA-4E8C-9352-C5DEE6177F74}">
        <File Id="FILE_InstallMeTXT" Source="InstallMe.txt" KeyPath="yes" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>